/* CSS Document */

/*********/
/* FONTS */
/*********/
@font-face {
	font-family: 'FinkHeavy';
	src: url('../fonts/FinkHeavy.woff') format('woff'),
	     url('../fonts/FinkHeavy.woff2') format('woff2');

}

/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button:not[disabled], summary {
	cursor: pointer; 
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--background:#FCF3EC;
	--tekstKleur:#E8AA8B;
	--persoonlijkheidsKleur:rgb(255, 255, 255);
	--ficheKleur: #C4A7D3;
	--borderKleur: #D6D3A5;
	--bgIMG: url(../img/bg.jpeg);
}

/****************/
/* JOUW STYLING */
/****************/
html{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  font-family:'FinkHeavy', sans-serif;
  background-image: var(--bgIMG);
  background-size: cover;
  background-position: bottom right;
  color: var(--tekstKleur);
  margin: 0;
}

h1{
	font-size: 3em;
	text-align: center;
}

body ul{
	display: grid;
	padding:clamp(.2em, 5%, .5em);
	margin:1em auto 0;
	width: clamp(6em, 80vw, 30em);
	height: clamp(6em, 80vw, 30em);
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-auto-flow: column;
	gap:clamp(.2em, 5%, .5em);
	list-style-type: none;
	border-radius: 5%;
	border: .1em solid var(--borderKleur);
	background-color: var(--background);
}
/* jouw code */

/* Button styling! */
button{
	padding: 1em;
	cursor: pointer;
}

body>button{
	all:unset;
	background-image: url(../img/old-wooden-texture-cover-from-planks-ui-game-background-seamless-pattern-cartoon-style_191307-879.jpg\ copy.png);
	background-size: cover;
	color: var(--background);
	cursor: pointer;
	border-radius: 10%;;
}

body>button:not(:disabled):hover{
	transform: scale(.95);
}

button:nth-of-type(1){
	display: block;
	margin: auto;
	position: relative;
	padding: 1em;
}

section button:nth-of-type(1), section button:nth-of-type(2){
	all:unset;
	width: 5em;
	transition: .1s;
	cursor: pointer;
}

section button:nth-of-type(2){
	transform: scaleX(-1);
}

button img{
	width: 100%;
	height: 100%;
}

button:disabled{
	opacity: .6 !important;
	cursor: not-allowed !important;
}

section button:not(:disabled):hover img{
	padding: .2em;
}


/* Het stylen van de bingokaart */
body ul li {
	border-radius: 20%;
	padding: 0;
	position: relative;
	border: .1em solid var(--borderKleur);
}

ul li input{
	position: relative;
	width: 100%;
	height: 100%;
	appearance: none;
	margin: 0;
	border-radius: 100%;
	z-index: 100;
	cursor: pointer;
}

/* Het stylen van het afvinken van een bingokaart. */

ul li input::after{
	content:'';
	display: inline-block;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: var(--ficheKleur);
	border-radius: 100%;
}

ul li input:checked::after{
	opacity: .6;
}

/* de villagers in de bingokaart */

ul li label{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 0;
}

ul li label img{
	width: 70%;
	height: auto;
}

/* de ballen */
section{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

article{
	width: 8em;
	overflow: hidden;
	position: relative;
	margin: 1em 3em;
	display: flex;
}

ol {
	list-style-type: none;
	display: flex;
	height: 8em;
	padding: 0;
	margin: 0;
	width: 100%;
	justify-content: flex-start;
	transition: 1s;
	transition-timing-function: ease-in-out;
	transform: translateX( calc( var(--pos, 0) * 8em) );
  }
  
ol li {
	margin: 1em;
	padding: 1em;
	width: 6em;
	height: 6em;
	border-radius: 100%;
	flex-shrink: 0;
	background-color: var(--persoonlijkheidsKleur);
  }

ol li.rolIn{
	animation: rolIn 1s ease-in-out;
}

ol li.rolOut{
	animation: rolOut 1s ease-in-out;
}

ol li img{
	width: 100%;
}

ol.rolLinks li{
	transform: rotate(-360deg);
	transition: 1s;
	transition-timing-function: ease-in-out;
}


ol.rolRechts li{
	transform: rotate(360deg);
	transition: 1s;
	transition-timing-function: ease-in-out;
}

@keyframes rolIn {
	0%{
		transform:translateX(-8em) rotate(-360deg);
	}
	100%{
		transform:translateX(0) rotate(0deg);
	}
	
}

@keyframes rolOut {
	0%{
		transform:translateX(-8em) rotate(0deg);
	}
	100%{
		transform:translateX(0) rotate(360deg);
	}
	
}

/* Kleur van de bal verandert door persoonlijkheid villager */


ol li.Peppy, ol li.Snooty{
	--persoonlijkheidsKleur: rgb(232, 170, 139);
}

ol li.Jock, ol li.Smug{
	--persoonlijkheidsKleur: rgb(196, 167, 211);}

ol li.Normal, ol li.Lazy{
	--persoonlijkheidsKleur: rgb(226, 145, 142);
}

ol li.Uchi, ol li.Cranky{
	--persoonlijkheidsKleur: rgb(164, 216, 200);
}

.bingo{
	--bgIMG: url(../img/BG-Dark.png);
}